<!DOCTYPE html><html lang="ja">
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>初心者向けページ</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- ヘッダー -->
    <%- include('header') %>
    <!-- タイトル -->
    <h1>準備する道具</h1>

    <div id="BEGINNER-TOOL">   
        <!-- メイン -->
        <main class="beginner-content wrapper">
            <article>
                <h2>釣りに必要な道具</h2>
                <div class="beginner-info-container">
                    <div class="beginner-info-item">
                        <h3>竿、リール</h3>
                        <div class="spot-info-list">
                            
                            
                        </div>
                        <p>最初は、釣具店に売ってある竿とリールがセットになった安いもので大丈夫です。フィッシングパークや管理釣り場ではレンタルできる場合もあります。        </p>
                    
                    </div>
                    <div class="beginner-info-item">
                        <h3>スナップ</h3>
                        <div class="spot-info-list">
                            
                            
                        </div>
                        <p>釣り糸と仕掛けを繋げるのに便利です。仕掛けの着脱が楽なので初心者には特におすすめです。 </p>
                    
                    </div>
                    <div class="beginner-info-item">
                        <h3>仕掛け</h3>
                        <div class="spot-info-list">
                            
                        </div>
                        <p>釣り針やウキ、重りなど。釣具店には、針やウキが結ばれており、スナップに付けるだけですぐに釣りができる仕掛けセットがあるのでそちらがおすすめです。
                            なお、仕掛けは根掛かりによって無くなってしまう場合があるため、数に余裕をもって準備しておくと良いでしょう。
                        </p>
                    
                    </div>
                    <div class="beginner-info-item">
                        <h3>クーラーボックス</h3>
                        <div class="spot-info-list">
                            
                            
                        </div>
                        <p>釣った魚を保管、持ち帰るのに必要。大きいものは椅子として使うこともできます。</p>
                    </div>
                    <div class="beginner-info-item">
                        <h3>氷、保冷剤</h3>
                        <div class="spot-info-list">
                            
                            
                        </div>
                        <p>釣った魚を新鮮な状態で持ち帰るのに必要。特に夏場や長時間釣りをする際は必須です。凍らせたペットボトルでもOK。</p>
                    
                    </div>
                    <div class="beginner-info-item">
                        <h3>ライフジャケット</h3>
                        <div class="spot-info-list">
                            
                            
                        </div>
                        <p>安全のために着用するようにしましょう。釣り場によってはレンタルもあります。</p>
                    
                    </div>
                    <div class="beginner-info-item">
                        <h3>プライヤー、ペンチ</h3>
                        <div class="spot-info-list">
                            
                            
                        </div>
                        <p>針を外す。仕掛けをつける。など様々な用途で大活躍。先の細いタイプがオススメ。</p>
                    
                    </div>
                    <div class="beginner-info-item">
                        <h3>たも網</h3>
                        <div class="spot-info-list">
                            
                            
                        </div>
                        <p>大きな魚が掛かった時に魚をすくう網。持っていれば安心です。</p>
                    
                    </div>
                </div>

                <h2>あると便利な道具</h2>
                <div class="beginner-info-container">
                    <div class="beginner-info-item">
                        <h3>水汲みバケツ</h3>
                        <div class="spot-info-list">
                            
                            
                        </div>
                        <p>釣れた魚を泳がせたり締めた魚の血抜きをするのに使用するロープ付きのバケツ。
                
                        </p>
                    
                    </div>
                    <div class="beginner-info-item">
                        <h3>魚つかみ</h3>
                        <div class="spot-info-list">
                            
                            
                        </div>
                        <p>釣り針を外す時や毒魚が釣れた時、安全に魚をつかめます。</p>
                    
                    </div>
                    <div class="beginner-info-item">
                        <h3>ウェットティッシュ</h3>
                        <div class="spot-info-list">
                            
                            
                        </div>
                        <p>エサや魚で手が汚れた時・釣り場でご飯を食べる時にあれば快適。</p>
                    
                    </div>
                    <div class="beginner-info-item">
                        <h3>帽子</h3>
                        <div class="spot-info-list">
                            
                            
                        </div>
                        <p>熱中症対策の為に帽子を被っておきましょう。</p>
                    
                    </div>
                    <div class="beginner-info-item">
                        <h3>サングラス</h3>
                        <div class="spot-info-list">
                            
                            
                        </div>
                        <p>日差しから目を守るためにかけておきましょう。また偏光レンズのサングラスは水の中の魚が見えやすくなります。</p>
                    
                    </div>
                    <div class="beginner-info-item">
                        <h3>ビニール袋</h3>
                        <div class="spot-info-list">
                            
                            
                        </div>
                        <p>釣り場で出たゴミを入れるのに必要。また釣った魚をビニール袋に入れて持ち帰るとクーラーボックスの中が汚れないためオススメ。</p>
                    
                    </div>
                    <div class="beginner-info-item">
                        <h3>アウトドアチェア</h3>
                        <div class="spot-info-list">
                            
                            
                        </div>
                        <p>休憩する時などにあれば快適。大きいものよりコンパクトなものがオススメ。</p>
                    
                    </div>
            </article>
        </main>

    </div>
    <!-- JavaScript -->
    <script src="js/main.js"></script>
</body>
</html>