<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>初心者向けページ</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- ヘッダー -->
    <%- include('header') %>
    <!-- タイトル -->
    <h1>釣り初心者に知ってほしいルールとマナー</h1>
    <div id="BEGINNER">
        <!-- メイン -->
        <main class="wrapper">
            
            <div class="beginner-content">
                <article>
                    <h2>釣りを始める前</h2>
                    <div class="beginner-info-container">
                        <div class="beginner-info-item">
                            <h3>安全第一で釣行計画を立てよう</h3>
                            <div class="spot-info-list">
                                
                                
                            </div>
                            <p>普段は穏やかな釣り場でも、天候が悪化すると高い波が押し寄せることもある。事前に天気予報を確認して釣行計画を立てるとともに、急に天候が悪化した場合はすみやかに撤収しよう。釣り場までの運転も含めて、無理な釣行は控えて安全第一で楽しもう。</p>
                        
                        </div>
                        <div class="beginner-info-item">
                            <h3>車は駐車可能な場所に停めよう</h3>
                            <div class="spot-info-list">
                                
                                
                            </div>
                            <p>駐車禁止エリアに停めないことはもちろん、私有地へ駐車したり、地元の人や他の車の通行の妨げになるような停め方もしないこと。有料駐車場の場合は、きちんと駐車料金を支払おう。</p>
                        <img src="images/駐車場.avif">
                        </div>
                        <div class="beginner-info-item">
                            <h3>立入禁止場所には入らない</h3>
                            <div class="spot-info-list">
                                
                            </div>
                            <p>港の一部や港そのものが立入禁止や進入禁止になっている場合がある。事前に釣り場に入れるかどうか、釣りをしても大丈夫かどうかを確認しておこう。
                            </p>
                      
                        </div>
                        <div class="beginner-info-item">
                            <h3>先行者優先！割り込みはやめよう</h3>
                            <div class="spot-info-list">
                                
                                
                            </div>
                            <p>空いている場所に入るときには、近くに先行者がいたら挨拶をして釣りをしていいかを確認。割り込みをせずに気持ちよく釣りをしよう。</p>
                            
                        </div>
                    
                    <h2>釣りをしているとき</h2>
                        <div class="beginner-info-item">
                            <h3>間隔を空けて釣ろう</h3>
                            <div class="spot-info-list">
                                
                                
                            </div>
                            <p>釣りには必要なスペースがあり、それが守られないとトラブルが発生する。釣り方にもよるが少なくとも５～10m以上は間隔を空けよう（お互いの竿や仕掛けが干渉しない距離）。また、潮の流れや周りの釣り人のキャスト方向や仕掛けの位置などを確認して、仕掛けが絡まないように注意しよう。</p>
                            <img src="images/間隔.avif">
                        </div>
                        <div class="beginner-info-item">
                            <h3>大きな音を出したり、騒がない</h3>
                            <div class="spot-info-list">
                                
                                
                            </div>
                            <p>とくに夜間や早朝は小さな音も広範囲に大きく響く。民家などが近くにある場合は、話し声のボリュームにも注意を払おう。</p>
                        
                        </div>
                        <div class="beginner-info-item">
                            <h3>
                                ライトで海を照らさない
                            </h3>
                            <div class="spot-info-list">
                                
                                
                            </div>
                            <p>夜釣りや暗い時間帯の釣りでは、ほかの釣り人がいるときに海面をライトで照らさないこと。魚を散らす原因になるので注意しよう。ルアーやエサを交換するときは、海と反対方向を向いて行うのがマナー。
                            
                            </p>
                            <img src="images/ライト.avif">
                        </div>
                        <div class="beginner-info-item">
                            <h3>釣り場に持ち物を広げない</h3>
                            <div class="spot-info-list">
                                
                                
                            </div>
                            <p>堤防など他の人が通る場所では、釣具を広げないこと。人が通りにくいだけでなく、竿や道具を踏まれてしまうこともある。荷物はできるだけコンパクトにまとめておき、人が通るスペースを確保しておくこと。</p>
                        
                        </div>
                    </div>

                    
                        <div class="beginner-info-item">
                            <h3>周囲の安全を確認しよう</h3>
                            <div class="spot-info-list">
                                
                                
                            </div>
                            <p>
                                釣りの最中は周囲360度に気を配ろう。キャスト時は後方の確認はもちろん、頭上に電線はないか、沖に船がいないかも確認しよう。また、仕掛けを投げ入れているところに船が通りかかったら、すばやく回収すること。                    
                            </p>
                        
                        </div>
                        <div class="beginner-info-item">
                            <h3>持ち帰る魚以外は逃がしてあげよう</h3>
                            <div class="spot-info-list">
                                
                                
                            </div>
                            <p>釣った魚は食べる分だけ持ち帰り、小さい個体や他魚などはリリース（再放流）しよう。限りある大切な資源を保護し、末長く釣りが楽しめるように放置せずに優しく返そう。</p>
                            <img src="images/放流.avif">
                        </div>
                        <div class="beginner-info-item">
                            <h3>漁船や漁具に近づかない</h3>
                            <div class="spot-info-list">
                                
                                
                            </div>
                            <p>仕掛けやルアーをロープや船などに引っ掛けないように、漁船や漁具の周りでの釣りは控えよう。引っかかったルアーなどを回収するために、許可なく船に乗り込むのも厳禁。</p>
                        
                        </div>

                        <h2>釣りが終わってから</h2>
                        <div class="beginner-info-item">
                            <h3>汚した釣り場を洗い流そう</h3>
                            <div class="spot-info-list">
                                
                                
                            </div>
                            <p>サビキ釣りやカゴ釣りなどで使用する冷凍のオキアミやアミなど、撒き餌を使用する釣りでは、撒き餌が堤防や磯の上にこぼれ落ちる。また、釣った魚を持ち帰るときに締めた魚の血が落ちることもある。イカ釣りでは釣り上げたときに吐いたスミで周囲が汚れることもある。釣り終わったときに汚れていたら、きれいに洗い流してから帰ること。清掃用にブラシを用意しておくと便利。</p>
                            <img src="images/汚したt利場.avif">
                        </div>
                        <div class="beginner-info-item">
                            <h3>ゴミは必ず持ち帰る</h3>
                            <div class="spot-info-list">
                                
                                
                            </div>
                            <p>釣り糸の切れ端、ルアーのパッケージなど、自分が出したゴミは必ず持ち帰ること。ペットボトル、ビニール袋などのプラスチックは何年たっても分解されないので、大きな問題となっている。風で飛ばされることのないようにクーラーの中などで管理して、釣り場に放置したり破棄しないようにしよう。</p>
                            
                        </div>
                        
                </article>
                
                


            </div>
        </main>
    </div>
    <!-- フッター -->
    <%- include('footer') %>
    <!-- JavaScript -->
    <script src="js/main.js"></script>
</body>
</html>