<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>初心者向けページ</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div id="BEGINNER">
        <!-- ヘッダー -->
        <%- include('header') %>
        
        <!-- メイン -->
        <main class="wrapper">
            <!-- 題名 -->
            <h1>初心者向けページ</h1>
            <div class="beginner-content">
                <article>
                    <h2>道具</h2>
                    <div class="beginner-info-container">
                    
                    </div>
                    
                </article>
                
                


            </div>
        </main>

        <!-- フッター -->
        <%- include('footer') %>

    </div>
    <!-- JavaScript -->
    <script src="js/main.js"></script>
</body>
</html>