<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>初心者向けページ</title>
    
</head>
<body>
    <!-- ヘッダー -->
    <%- include('header') %>
    <!-- タイトル -->
    <h1>釣りの種類</h1>

    <div id="BEGINNER-TYPE">
        <!-- メイン -->
        <main class="beginner-content wrapper">
            <article>
                <h2>餌(エサ)を使用する釣り</h2>
                <div class="beginner-info-container">

                    <div class="beginner-info-item">
                        <h3>サビキ釣り</h3>
                        <div class="spot-info-list">
                            <ul class="list">
                                <li>難易度：★☆☆☆☆</li>
                                <li>場所：堤防</li>
                                
                            </ul>  
                        </div>
                        <p>サビキ釣りは、堤防などから足元に仕掛けを落とすだけで簡単に釣れるので、初心者にも人気の釣法です。そしてその仕組みはシンプルながら魚の習性を活かした非常に効率的な方法です。まず仕掛けのカゴに入ったオキアミが海中でバラけることで、魚たちが集まります。カゴの近くには餌に模した複数の針があり、その針を餌と勘違いした魚が食らいつきます。その針に掛かった魚が暴れると、近くにいる他の魚もパニックになり、他の針に食い付いてくるという仕組みです。魚の習性を利用し連掛けで大量釣果を望める釣法です。

                            ターゲットとしては、アジ・イワシ・サバなどの回遊魚を狙うのが一般的であるため、一度ゾーンに入ると果てしなく釣れますが、逆に魚が回遊してこないと全く釣れなくなってしまいます。また、上級者になるとサビキ仕掛けを遠投する「遠投サビキ」という釣法もあり、沖側にいる大物などを狙うこともできます。
                        </p>
                    </div>

                    <div class="beginner-info-item">
                        <h3>穴釣り</h3>
                        <div class="spot-info-list">
                            <ul class="list">
                                <li>難易度：★☆☆☆☆</li>
                                <li>場所：テトラ、磯の隙間</li>
                                
                            </ul>
                            
                        </div>
                        <p>テトラポットや磯の隙間に糸を垂らし、穴に居座っている魚を狙い撃ちするという非常にシンプルな釣法です。単純な仕掛けであるにも関わらず、大変効率的な釣法であり「ボウズ逃れ」と言われるほどの釣果率を誇ります。「灯台下暗し」とは正にこの事で、わざわざ遠投をせずとも足下で簡単に釣れてしまう、一度経験すると病みつきになってしまう魅力的な釣りです。初心者のみならず、釣り上級者にも大変人気です。ターゲットはカサゴ、メバルなどの根魚が基本ですが、稀にハタ系の高級魚も掛かることがあります。</p>
                    </div>

                    <div class="beginner-info-item">
                        <h3>ちょい投げ釣り</h3>
                        <div class="spot-info-list">
                            <ul class="list">
                                <li>難易度：★★☆☆☆</li>
                                <li>場所：砂浜、堤防</li> 
                            </ul>
                        </div>
                        <p>足場の良い場所から「ちょい」っとだけ仕掛けを投げ込む初心者向けの釣りです。仕掛けを投げる必要があるので、ハードルは少し上がりますが、それほど飛距離を出さなくても良いということと、こちら側から魚のいる場所にアクションできるため、自分の中で「どうすれば釣れるのか」を試行錯誤するのが楽しくなってくる釣りです。

                            シロギスやハゼなどを堤防や浜辺（サーフ）から狙うのが一般的で、初心者だけでなく、数釣りを狙った玄人にも人気のある釣法です。
                        </p>
                    </div>

                    <div class="beginner-info-item">
                        <h3>ウキ釣り</h3>
                        <div class="spot-info-list">
                            <ul class="list">
                                <li>難易度：★★☆☆☆</li>
                                <li>場所：堤防</li>
                                
                            </ul>
                            
                        </div>
                        <p>餌釣りの仕掛けにウキを付けたもの全般を「ウキ釣り」と呼びます。例えばサビキ釣りの仕掛けにウキを付けたものを「ウキ釣り」と呼ぶ方もいます。そのため人によって解釈は異なりますが、基本的にはウキ、オモリ、針のみが付いているシンプルな仕掛けを用いるのが一般的です。複数の針が付いている「胴付き仕掛け」などもウキ釣りとの相性が良く、堤防の際に集まっているカワハギなども狙うことができます。

                            大きな特徴は、好みの水深で仕掛けを固定できるため、根掛かりが軽減するだけでなく、その水深に生息する魚をピンポイントで狙うことができる事です。また、ウキの動きを見ることで視覚的に魚のアタリを感知できるということもメリットの一つです。暗い場所でも光る電気ウキを使用すれば、夜に活性が上がるアオリイカやタチウオなども狙うことができるでしょう。
                        </p>
                    </div>

                    <div class="beginner-info-item">
                        <h3>ぶっこみ釣り</h3>
                        <div class="spot-info-list">
                            <ul class="list">
                                <li>難易度：★★☆☆☆</li>
                                <li>場所：堤防、河川</li>
                                
                            </ul>
                            
                        </div>
                        <p>ぶっこみ釣りは様々な魚種を狙う事ができる釣りです。釣り上げるまで答えがわからないワクワクを楽しむ事ができます。仕掛けもシンプルで、重めの中通しオモリの先に餌が付いているというものです。仕掛けを投げ込んだらあとはアタリがくるまで待つことになるので、複数の竿を同時出す事が多いです。

                            さらにぶっこみ釣りの仕掛けは汎用性が高いのも特徴で、堤防でも磯でもサーフでも、それこそ河川や湖でも、水深や水域を問わずに楽しむ事ができます。海ではクロダイ、シーバス、ヒラメなど、淡水域ではウナギを狙った釣りでぶっこみ仕掛けを使用する事が多いです。
                        </p>
                    </div>

                    <div class="beginner-info-item">
                        <h3>泳がせ釣り</h3>
                        <div class="spot-info-list">
                            <ul class="list">
                                <li>難易度：★★☆☆☆</li>
                                <li>場所：堤防</li>
                            </ul>
                        </div>
                        <p>泳がせ釣りとは魚の食物連鎖をフルに活用した、大型の魚種狙いに特化した釣法です。その名の通り、生きた魚に針をつけ、自由に泳がせているところに、その魚を捕食対象とする大型魚が喰らい付いてくるというものです。魚が自由に泳いでしまうので、周りに釣り人がいるとできないのと、餌となる活きた魚を現地調達しなければいけない事から、この釣法が行えるフィールドは限られきます。そのため泳がせ釣りを行うのであれば、船で行う事が望ましいでしょう。

                            本来なら美味しく頂ける魚を囮りにし、さらなる高みを求めるという、多少のギャンブル性が見え隠れする釣りではありますが、突如物凄い勢いで走り出すラインを目の当たりにすると、これ以上にない釣りの興奮を味わう事ができるでしょう。
                        </p>                   
                    </div>
                </div>

                <h2>餌(エサ)を使わない釣り(ルアー釣り)</h2>

                <div class="beginner-info-container">
                    <div class="beginner-info-item">
                        <h3>ライトショアジギング</h3>
                        <div class="spot-info-list">
                            <ul class="list">
                                <li>難易度：★★★☆☆</li>
                                <li>場所：堤防、河川</li>
                            </ul>
                        </div>
                        <p>陸からジギングを行うことを「ショアジギング」と呼びます。船には乗らず、堤防・磯・サーフなど、陸地から魚を釣り上げるものは全てショアジギングです。船に比べて探れる範囲が少ないので、沢山の釣果は望めませんが、釣れた時の感動と気軽に行えることが魅力です。
                            ショアジギングの中でも、大型の魚種ではなく、アジやサバ、小型のカンパチやワカシなどを軽量のメタルジグで狙うものを「ライトショアジギング」と呼びます。足場の良い堤防やサーフなどから、比較的簡易的な装備で臨めることから、ライトに楽しめるジギングゲームとして人気です。
                        </p>
                    </div>

                    <div class="beginner-info-item">
                        <h3>バスフィッシング</h3>
                        <div class="spot-info-list">
                            <ul class="list">
                                <li>難易度：★★★★☆</li>
                                <li>場所：ため池、湖、河川（中流）</li>
                            </ul>
                        </div>
                        <p>
                            ルアーフィッシングの代名詞とも言えるバスフィッシングは、言わずと知れた人気の釣りです。ルアーやワームを始め、ラバージグ、スピナーベイトといった、他の釣りではあまり使用することがない擬似餌も使い分ける必要があり、そのゲーム性の高さはバスアングラー等を虜にしています。
                        </p>
                    </div>

                    <div class="beginner-info-item">
                        <h3>シーバスゲーム</h3>
                        <div class="spot-info-list">
                            <ul class="list">
                                <li>難易度：★★★★☆</li>
                                <li>場所：河川（下流）、堤防</li>
                            </ul>                           
                        </div>
                        <p>
                            ルアーでシーバスを狙うシーバスゲームは、初心者には難易度が高く、昔は釣れるようになるまで5年はかかると言われていたようです。最近ではインターネットの普及やYouTubeなどで分かりやすい解説動画を見れるので、比較的簡単に釣れるようになってきました。全国的に見ても、シーバスは東京近郊での釣果が多く、釣り好きに「東京に住んでいる」と言うと大変羨ましがられることが多いです。小型の船に乗ってシーバスを狙う「ボートシーバス」も大変人気です。
                        </p>
                    </div>

                    <div class="beginner-info-item">
                        <h3>エギング</h3>
                        <div class="spot-info-list">
                            <ul class="list">
                                <li>難易度：★★★★☆</li>
                                <li>場所：堤防、磯</li>                               
                            </ul>
                        </div>
                        <p>
                            海老を模したルアー「餌木（エギ）」を使用し、主にアオリイカを狙う釣法を指します。餌木の重さ、カラーの選択はもちろん、風向き、水温の変化、潮の流れなど釣果を上げるための分析項目は数多く、非常にゲーム性の高い釣りとして知られています。エギングは一般的にはアオリイカを狙いますが、コウイカやケンサキイカなどを釣ることも可能です。
                        </p>
                    </div>

                    <div class="beginner-info-item">
                        <h3>メバリング</h3>
                        <div class="spot-info-list">
                            <ul class="list">
                                <li>難易度：★★★☆☆</li>
                                <li>場所：堤防</li>                              
                            </ul>                          
                        </div>
                        <p>
                            冬の産卵期に接岸するメバルを、プラグやワームを用いて狙う釣法がメバリングです。メバルというと比較的小さい個体という印象ですが、非常に軽量なライトタックルで挑むため、その引きは想像を遥かに上回ります。30cmを超える「尺メバル」を釣り上げることがメバリンガーの目標です。
                        </p>                   
                    </div>

                    <div class="beginner-info-item">
                        <h3>アジング</h3>
                        <div class="spot-info-list">
                            <ul class="list">
                                <li>難易度：★★★☆☆</li>
                                <li>場所：堤防</li>
                            </ul>
                        </div>
                        <p>
                            メバリング同様、プラグ（ルアー）やワームを用いてアジ狙う釣法をアジングと呼びます。サビキなどで釣る場合は、オモリの重さでアジ本来の引きを味わうことはできませんが、軽量のライトタックルを使用しルアーでアジを釣ることで、プルプルとした青物特有の引きを楽しむことができます。
                        </p>
                    </div>
            </article>
        </main>
    </div>
    <!-- JavaScript -->
    <script src="js/main.js"></script>
</body>
</html>