<footer class="footer">
	<a href="/">
		<img class="logo" src="/images/logotouka.png" alt="ロゴ">
	</a>

	<nav>
		<ul class="footer-list">
			<li><a href="/" class="footer-link">ホーム</a></li>
			<li><a href="/fishing-place" class="footer-link">漁港一覧</a></li>
			<li><a href="/biginner" class="footer-link">初心者向け情報</a></li>
		</ul>
	</nav>
	<p class="footer-copyright">@ 2024 All rights reserved.</p>
</footer>