<header class="belt-header ">
    <div class="page-header wrapper">
        <a href="/"><img class="logo" src="images/logotouka.png" alt="ロゴ"></a>
        <div class="main-title">Fisher's Map Yamaguchi</div>
        <nav>
        <ul class="main-nav">
            <li><a href="/">ホーム</a></li>
            <li><a href="/fishing-place">漁港一覧</a></li>
            <li><a href="/beginner">初心者向け情報</a></li>
        </ul>
    </nav>
    </div>
    
    
</header>

