<header class="belt-header ">
    <div class="wrapper page-header">
        <a href="/">
            <div class="home-link">
                <img class="logo" src="images/logotouka.png" alt="ロゴ">
                <div class="main-title">Fisher's Map Yamaguchi</div>
            </div>
        </a>
        <nav>
            <ul class="main-nav">
                <li><a href="/">ホーム</a></li>
                <li><a href="/fishing-place">漁港一覧</a></li>
                <li><a href="/beginner">初心者向け情報</a></li>
            </ul>
        </nav>
    </div>
</header>